.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: steelblue;
    border-color: #343a40 ;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
 }

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: steelblue;
}